.calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 800px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day-row {
  height: 14%;
  width: 100%;
  margin-top: auto
}

.cell-rows {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
